/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1 h2 h3{
  font-family: Merriweather;
 }

 ul li {
  list-style: none;
 }

 .container {
  max-width: 75%;
  margin: 0 auto;

 }

 .nav-bar {
  text-align: center;
  margin: 5px;
  word-spacing: 10px;
 }

.button:hover {
  color: white;
}

a {
  text-decoration: none;
}

a:visited {
color: #000;
}

a:hover {
  color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.logo {
  text-align: center;
}

.welcome-container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  background-color: #F0F0F0;
}

.welcome {
  padding: 10px;
}

.log-in {
  text-align: center;
}

.new-appt {
  margin-left: 15%;
}

.appt-show {
  margin-left: 15%;
  padding: 25px;
}

.appt-link {
  color: gray;
}


.appt-details {
  margin: 10px;
  padding: 15px;
}

textarea {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Merriweather, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: #F0F0F0;
}